[submodule "movies-frontend"]
	path = movies-frontend
	url = git@github.com:andreafalzetti/movies-frontend.git
[submodule "movies-api"]
	path = movies-api
	url = git@github.com:andreafalzetti/movies-api.git
